@charset "utf-8";

#panel{
	width: 100%;
	height: auto;
	background-color: black;
}

#panel a{
	font-size: 40px;
	color: white;
	padding-left: 65px;
	padding-right: 65px;
	text-decoration: none;
}

#panel a:hover{
	opacity: 50%;
	background-color: rgb(49, 48, 48);
}

#pane a:visited{
	text-decoration: none;
	color: white;
}

#sub_text h3{
	text-align: center;
	animation: change 1s step-end both;

}

@keyframes change {
	from{color: green;}
	to{color: red;}
	from{color: violet;}
	to{color: indigo;}
	from{color: blue;}
	to{color: yellow;}
	from{color: orange;}
	to{color: red;}

}

#data iframe{
	width: 100%;
	height: 500px;
}



