@charset "utf-8";
/* CSS Document */

#header{
	background: #000000;
}

#header h1{
	color: white;
	display: inline-flex;
	text-align: center;
	font-size: 300%;
	text-align: center;
	
}

#panel {
	background: darkgreen;
	
}

#panel li{
	display: inline-flex;
}
a{
	margin-left: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
	color: white;
	text-decoration: none;
	font: bold;
	font-size: 200%;
}

#panel a:visited{
	text-decoration: none;
}

a:hover{
	background: blue;
	border-radius: 10px;
	transition-duration: 0.5s;
}

#panel li {
	list-style-type: none;
	
}

#quiz{
	height: 20%;
	width: 30%;
	background: darkgreen;
	position: absolute;
	display: none;
	margin: 10px;
}
#quiz a{
	color: aliceblue;
	font-size: 150%;
	margin: 0;
}

#panel a:hover{
    color: lightgreen;
    transition-delay: 0.5s;

}

#panel a:active{
    color: yellow;
}

iframe{
    width: 100%;
    height: 500px;
}

